<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8" />
    <title>Wallet - Home</title>
    <meta
      name="description"
      content="Wallet | Transparent Collections: We bring Integrity, Analytics and Intelligence into Your Collections."
    />
    <meta
      name="keywords"
      content="Wallet,Transparent,Collections,OPEX,Wallet,Musibau Lasisi,Analytics"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Technology, OPEX Consulting" />
    <link
      rel="shortcut icon"
      href="assets/images/logo.png"
      type="image/x-icon"
    />
    <link rel="icon" href="assets/images/logo.png" type="image/x-icon" />
    <!-- icons -->
    <link href="assets/icons/style.css" rel="stylesheet" />
    <!-- vendors -->
    <link href="vendor/slick/slick.css" rel="stylesheet" />
    <link href="vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link
      href="vendor/jquery.scrollbar/jquery.scrollbar.css"
      rel="stylesheet"
    />
    <link
      href="vendor/fancybox/dist/jquery.fancybox.min.css"
      rel="stylesheet"
    />
    <!-- styles -->
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="assets/css/theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="assets/css/style.css"
    />
  </head>
  <body>
    <!-- header -->
    <header class="header header-sticky header-light-text">
      <div class="container">
        <div class="row align-items-center">
          <div class="header-nav w-100">
            <nav
              class="navbar navbar-light navbar-expand-lg has-mega-menu-advanced"
            >
              <!-- logo -->
              <a class="navbar-brand header-brand" href="index.html">
                <img src="assets/images/logo.png" class="header-logo
                primary-logo img-fluid" alt="logo"/ style="width: 50px;"> <img
                src="assets/images/logo-light.png" class="header-logo img-fluid"
                alt="logo"/ style="width: 50px;">
              </a>

              <!-- navbar menu items -->
              <div class="header-menu collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <!-- menu item : mega menu advanced -->
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#"
                      id="homelink"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Home
                    </a>
                  </li>
                </ul>
              </div>

              <!-- header right side -->
              <div class="header-btns">
                <nav class="header-nav-btns">
                  <ul class="list-inline m-0">
                    <!-- buttons & menu toggle button on small devices -->

                    <li class="nav-item list-inline-item">
                      <a
                        class="nav-link btn btn-info btn-curved"
                        href="signin.html"
                        id="elementlink"
                        role="button"
                      >
                        Account
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <!-- menu toggle button -->
                      <button
                        type="button"
                        class="btn menu-toggle d-block d-lg-none"
                      >
                        <i class="icon--menu-line"></i>
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- main -->
    <main class="content">
      <!-- hiro section -->
      <section class="section section-page-hiro align-items-center d-flex">
        <div class="hiro-figure-wrap has-overlay">
          <!-- hiro image and svg background -->
          <figure class="section-figure position-relative h-100">
            <img
              src="assets/images/pictures/mwallet.png"
              class="img-fluid hiro-background"
              alt="Image Description"
            />
            <svg
              class="hiro-shape-back"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 1859.58 857.5"
              preserveAspectRatio="xMidYMin slice"
            >
              <defs>
                <linearGradient
                  id="hiro-shape-grad01"
                  x1="1348"
                  y1="351.86"
                  x2="1648.85"
                  y2="351.86"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#fff" stop-opacity="0.3" />
                  <stop offset="0.63" stop-color="#fff" stop-opacity="0.1" />
                  <stop offset="1" stop-color="#fff" stop-opacity="0" />
                </linearGradient>
                <linearGradient
                  id="hiro-shape-grad02"
                  x1="59.92"
                  y1="705.33"
                  x2="653.5"
                  y2="705.33"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop offset="0" stop-color="#fff" stop-opacity="0" />
                  <stop offset="1" stop-color="#fff" stop-opacity="0.3" />
                </linearGradient>
              </defs>
              <path
                d="M1487.43,229.3c-11.4,2.6-130.47,29.85-139,111.24-7,67.16,64.82,138.29,138.8,141.07,95.49,3.59,150.88-90.16,160.84-144.87,1.33-7.27,4-51.17-24-83.12C1583.57,207.3,1510.49,224,1487.43,229.3Z"
                transform="translate(-59.92 -222)"
                style="fill: url(#hiro-shape-grad01)"
              />
              <path
                d="M199.5,513.5c28.94-32.16,147.11-163.52,276-131,121.56,30.67,190.91,191.54,176,312-30.46,246.11-422.85,406.08-542,311C14.15,929.41,62.9,665.34,199.5,513.5Z"
                transform="translate(-59.92 -222)"
                style="fill: url(#hiro-shape-grad02)"
              />
              <path
                d="M1919.5,475.5c-111.09,5.82-177.33-23.67-229-47-66.37-30-88.24-47.94-162-78-66.21-27-149.12-60.78-228-31-104.77,39.55-140,167.68-158,233-21.3,77.4-43.71,158.84-2,221,51.78,77.17,158.13,58.65,198,150,14.78,33.87,6.26,50.37,28,78,16.13,20.5,41.37,37.51,139,55s179.7,19.7,265,22c38.13,1,74.34,1,78,1,27.36,0,51.35-.47,71-1"
                transform="translate(-59.92 -222)"
                style="fill: #fff; opacity: 0.3"
              />
              <g style="opacity: 0.5">
                <line
                  x1="1465.65"
                  y1="174.19"
                  x2="1381.28"
                  y2="199"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1491.31"
                  y1="190.1"
                  x2="1368.81"
                  y2="226.12"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1505.35"
                  y1="207.08"
                  x2="1366.65"
                  y2="247.87"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1517.85"
                  y1="247.18"
                  x2="1378.79"
                  y2="288.08"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1514.38"
                  y1="227.1"
                  x2="1370.72"
                  y2="269.35"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1515.52"
                  y1="270.54"
                  x2="1393.88"
                  y2="306.32"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="1503.97"
                  y1="295.83"
                  x2="1417.74"
                  y2="321.19"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
              </g>
              <g style="opacity: 0.5">
                <line
                  x1="607.45"
                  y1="498.14"
                  x2="520.1"
                  y2="488"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="624.85"
                  y1="522.81"
                  x2="498.02"
                  y2="508.09"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="631.14"
                  y1="543.93"
                  x2="487.53"
                  y2="527.26"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="626.97"
                  y1="585.73"
                  x2="482.98"
                  y2="569.01"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="631.62"
                  y1="565.88"
                  x2="482.88"
                  y2="548.61"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="615.69"
                  y1="606.32"
                  x2="489.75"
                  y2="591.7"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
                <line
                  x1="595.18"
                  y1="625.08"
                  x2="505.9"
                  y2="614.71"
                  style="
                    fill: none;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                  "
                />
              </g>
            </svg>
          </figure>
        </div>
        <div class="container">
          <div class="row align-items-lg-center mx-0">
            <div
              class="col-12 hiro-text text-center text-white"
              data-0="transform:scale(1);opacity:1"
              data-top="transform:scale(0.85) ;opacity:0.3"
            >
              <h1 class="hiro-title font-xxl font-weight-semibold mb-3">
                Digital Wallet Solutions
                <span class="d-block font-weight-light"
                  >Transparent Collections</span
                >
              </h1>
              <p class="font-weight-light text-light-white">
                We bring Integrity, Analytics and Intelligence into Your
                Collections.
              </p>
              <div
                class="d-flex align-items-center justify-content-center flex-wrap mt-4"
              >
                <a
                  class="btn btn-dark btn-wider mb-2 mb-sm-0 mr-4"
                  href="signup.html"
                  >Get Started</a
                >
                <a
                  data-fancybox
                  href="https://youtu.be/kAphgHhlteM"
                  class="play-circle play-has-shadow play-dark inline-play mb-2 mb-sm-0"
                  ><i class="icon-play"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <!-- svg curved bottom -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 278 28"
          class="hiro-bottom-svg"
        >
          <path
            d="M1046.5,513.44V522h-278v-8.28a503.18,503.18,0,0,1,278-.28Z"
            transform="translate(-768.5 -494)"
            style="fill: #fff; opacity: 0.29"
          />
          <path
            d="M1046.5,516.44V522h-278v-5.28a503.18,503.18,0,0,1,278-.28Z"
            transform="translate(-768.5 -494)"
            style="fill: #fff"
          />
        </svg>
      </section>

      <!-- features colored box : carousel -->
      <section
        class="section section-on-hiro section-sm-on-hiro section-xl-on-hiro"
      >
        <div class="mx-md mx-auto">
          <!-- features boxes -->
          <div
            class="color-box-carousel"
            style="visibility: hidden; height: 200px"
          >
            <!-- box item -->
            <div
              class="box color-box text-white text-center"
              style="background: #4261bb"
            >
              <i class="icon-hand-with-pen"></i>
              <h3 class="font-sm mb-0">Seamless Onboarding</h3>
              <p class="font-weight-light font-regular text-light-white">
                Secure Environment For All e-Transaction
              </p>
            </div>
            <!-- box item -->
            <div
              class="box color-box text-white text-center"
              style="background: #0087bf"
            >
              <i class="icon-area-chart"></i>
              <h3 class="font-sm mb-0">Smart Analytic</h3>
              <p class="font-weight-light font-regular text-light-white">
                Access to Analytic Dashboard, Reports and Predictions
              </p>
            </div>
            <!-- box item -->
            <div
              class="box color-box text-white text-center"
              style="background: #077d9b"
            >
              <i class="icon-user-groups"></i>
              <h3 class="font-sm mb-0">Account Management</h3>
              <p class="font-weight-light font-regular text-light-white">
                Easy Transfer of fund Between Users, Wallets & Operators
              </p>
            </div>
            <!-- box item -->
            <div
              class="box color-box text-white text-center"
              style="background: #486bb1"
            >
              <i class="icon-vector"></i>
              <h3 class="font-sm mb-0">Ticket Management</h3>
              <p class="font-weight-light font-regular text-light-white">
                Generation, Printing & Tracking of Tickets Via POS
              </p>
            </div>
            <!-- /end items -->
          </div>
          <div class="color-box-carousel-nav">
            <a
              href="#"
              class="carousel-colorBox-next btn btn-circle btn-light shadow"
              ><i class="icon-forward"></i
            ></a>
          </div>
        </div>
      </section>

      <!-- features section -->
      <section class="section">
        <!-- svg animated scroll -->
        <div class="hexagon-back hexagon-left">
          <svg
            data-name="hexagon"
            class="hexagon-svg"
            viewBox="0 0 348.51 350"
            data-0="transform:rotate(0deg);"
            data-top="transform:rotate(360deg);"
          >
            <path
              d="M429.23,188.1l64.46,125a50,50,0,0,1,0,45.86l-64.46,125A50,50,0,0,1,384.77,511H265.23a50,50,0,0,1-44.46-27.1l-64.46-125a50,50,0,0,1,0-45.86l64.46-125A50,50,0,0,1,265.23,161H384.77A50,50,0,0,1,429.23,188.1Z"
              transform="translate(-150.74 -161)"
              style="fill: #eee; opacity: 0.3"
            />
            <path
              d="M404.81,237.74l39.43,75a50.08,50.08,0,0,1,0,46.58l-39.43,75A50,50,0,0,1,360.53,461H289.47a50,50,0,0,1-44.28-26.74l-39.43-75a50.08,50.08,0,0,1,0-46.58l39.43-75A50,50,0,0,1,289.47,211h71.06A50,50,0,0,1,404.81,237.74Z"
              transform="translate(-150.74 -161)"
              style="fill: #ffdd6e"
            />
          </svg>
        </div>
      </section>

      <!-- plan section -->
      <section class="section section-more-padding pt-0">
        <div class="container">
          <div class="section-body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <div
                  class="section-title-wrap text-left section-title-wrap--left section-title-wrap-md-center mb-5 mb-lg-0"
                >
                  <div class="section-title-inner d-inline-block">
                    <span class="title-sep"><span>PLAN</span></span>
                    <h2 class="section-title">
                      Pricing <span class="d-block font-weight-light"></span>
                    </h2>
                  </div>
                  <p class="font-sm font-weight-light">
                    We bring Integrity, Analytics and Intelligence into Your
                    Collections.
                  </p>
                  <div class="d-block mt-4">
                    <!-- plan switcher -->
                    <label class="text-switch">
                      <input type="checkbox" id="pricePlanToggle" />
                      <span class="switch-tracker"></span>
                      <span class="text-switch-label off">Monthly</span>
                      <span class="text-switch-label on">Yearly</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="scrollbar-on-mobile">
                  <div class="box shadow shadow-more price-table">
                    <!-- plan item -->
                    <div class="price-table-item featured" data-plan="monthly">
                      <span class="price-table-label bg-global text-white"
                        >Featured</span
                      >
                      <i class="icon-launch"></i>
                      <h3 class="font-lg">Government</h3>
                      <ul
                        class="price-table-detail font-regular font-weight-light mt-3 mb-4"
                      >
                        <li>100Gb SSD</li>
                        <li>Free Domain</li>
                        <li>UI/UX Design</li>
                        <li>SEO & Marketing</li>
                      </ul>
                      <div class="price-bottom same-height">
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="monthly"
                        >
                          364₦ <small>/mo</small>
                        </div>
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="yearly"
                        >
                          1358₦ <small>/yr</small>
                          <span
                            class="price-table-discount-label bg-light-global text-global"
                            >20% Off</span
                          >
                        </div>
                        <div class="mt-3 text-center">
                          <a
                            href="#"
                            class="btn btn-primary btn-curved btn-overlay"
                            >Start Now</a
                          >
                        </div>
                      </div>
                    </div>
                    <!-- plan item -->
                    <div class="price-table-item" data-plan="monthly">
                      <i class="icon-paper-plane"></i>
                      <h3 class="font-lg">School</h3>
                      <ul
                        class="price-table-detail font-regular font-weight-light mt-3 mb-4"
                      >
                        <li>100Gb SSD</li>
                        <li>Free Domain</li>
                        <li>UI/UX Design</li>
                        <li>SEO & Marketing</li>
                      </ul>
                      <div class="price-bottom same-height">
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="monthly"
                        >
                          354₦ <small>/mo</small>
                        </div>
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="yearly"
                        >
                          950₦ <small>/yr</small>
                          <span
                            class="price-table-discount-label bg-light-global text-global"
                            >10% Off</span
                          >
                        </div>
                        <div class="mt-3 text-center">
                          <a
                            href="#"
                            class="btn btn-info btn-curved btn-overlay"
                            >Start Now</a
                          >
                        </div>
                      </div>
                    </div>
                    <!-- plan item -->
                    <div class="price-table-item" data-plan="monthly">
                      <i class="icon-aircraft"></i>
                      <h3 class="font-lg">Estate</h3>
                      <ul
                        class="price-table-detail font-regular font-weight-light mt-3 mb-4"
                      >
                        <li>100Gb SSD</li>
                        <li>Free Domain</li>
                        <li>UI/UX Design</li>
                        <li>SEO & Marketing</li>
                      </ul>
                      <div class="price-bottom same-height">
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="monthly"
                        >
                          <div
                            class="old-price font-weight-light font-md text-muted"
                          >
                            <del>360₦ <small>/mo</small></del>
                          </div>
                          340₦ <small>/mo</small>
                        </div>
                        <div
                          class="price-table-price font-weight-bold font-lg"
                          data-period="yearly"
                        >
                          1100₦ <small>/yr</small>
                          <span
                            class="price-table-discount-label bg-light-global text-global"
                            >15% Off</span
                          >
                        </div>
                        <div class="mt-3 text-center">
                          <a
                            href="#"
                            class="btn btn-info btn-curved btn-overlay"
                            >Start Now</a
                          >
                        </div>
                      </div>
                    </div>
                    <!-- /end items -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- footer -->
    <footer class="footer-minimal bg-lighter-dark">
      <div class="footer-minimal-body">
        <div class="container">
          <!-- footer inline nav  -->
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 col-sm-12 mb-5">
              <!-- footer logos Or social media -->
              <div class="footer-logos d-flex align-items-center">
                <img
                  src="assets/images/payment/Visa.png"
                  class="img-fluid mr-4 mb-3 mb-md-0"
                  alt="Image Description"
                />
                <img
                  src="assets/images/payment/skrill_logo.png"
                  class="img-fluid mr-4 mb-3 mb-md-0"
                  alt="Image Description"
                />
                <img
                  src="assets/images/payment/paypal.svg"
                  class="img-fluid mb-3 mb-md-0"
                  alt="Image Description"
                />
              </div>
              <ul
                class="list-inline social-list d-inline-block align-middle mb-md-0 mr-5"
              >
                <li class="list-inline-item">
                  <a href="#" class=""><i class="icon-facebook-filled"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class=""><i class="icon-linkedin2"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class=""><i class="icon-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class=""><i class="icon-instagram"></i></a>
                </li>
              </ul>
              <div class="dl-links d-inline-block align-middle">
                <a href="#" class="btn btn-dl-link media d-inline-flex mb-sm-0">
                  <i class="icon-googleplay align-self-center mr-3"></i>
                  <div class="media-body dl-link-text">
                    Google Play
                    <small class="d-block">Android App On</small>
                  </div>
                </a>
                <a href="#" class="btn btn-dl-link media d-inline-flex">
                  <i class="icon-apple align-self-center mr-3"></i>
                  <div class="media-body dl-link-text">
                    App Store
                    <small class="d-block">Download On The</small>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-12 col-sm-12 mt-md-0 mt-4 text-left text-lg-right mb-4 mb-lg-5"
            >
              <nav class="footer-list">
                <ul class="list-inline m-0">
                  <li class="list-inline-item"><a href="#">Home</a></li>
                  <li class="list-inline-item"><a href="#">About Us</a></li>
                  <li class="list-inline-item"><a href="#">Contact Us</a></li>
                  <li class="list-inline-item"><a href="#">FAQ</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- footer rules and copyright -->
          <div class="row rules align-items-center mb-0">
            <div class="col-md-8 col-sm-7 col-12">
              <div class="footer-copyright">
                <p class="text-muted">
                  Copyright © 2022 All Rights Reserved by
                  <strong class="text-white"> OPEX Consulting.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- go top page link -->
    <a href="#" class="goup"><i class="icon-double-up"></i></a>

    <!-- global -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- vendors -->
    <script src="vendor/slick/slick.js"></script>
    <script src="vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="vendor/lazyload/dist/lazyload.min.js"></script>
    <script src="vendor/skrollr/dist/skrollr.min.js"></script>
    <script src="vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- scripts -->
    <script src="assets/js/script.js"></script>
    <!-- inline page scripts -->
    <script>
      if (!is_touch_device()) {
        $(window).on("load", function () {
          var s = skrollr.init({
            forceHeight: false,
          });
        });
      }
    </script>
  </body>
</html>
